@charset "utf-8";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 75%; 
  margin: 0 auto;
}

:root {
 --font-weight: bold;
 --white: #FFF;
 --neon-green: #48D494;
 --green: #32A174;
 --black: #000;
 --background-grey: #121212; 
 --grey: #5d5c5c;
 --width:100%;
 --height:100%;
 --margin:40px;
 --red: #f10b0b;
}

.common { 
  width: 42%; 
  margin: 45px 0;
}

.common p {
  padding-top: 20px;
  line-height: 1.5;
   color: var(--grey);
}

.error-text { color: var(--neon-green); }
.error {  box-shadow: 1px 1px 8px 1px var(--red); }

/*=================================
  Header styling starts here
=================================*/

header {
  width: 100%;
  margin: 20px 0;
  position: absolute;
  top: 0;
  left: 0;
}

header .wrapper { 
  width: 90%; 
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 a{ 
  color: var(--white);
  text-transform: capitalize;
  font-weight: var(--font-weight); 
  font-size: xx-large;
}

.contact-btn { 
  border: 1px solid var(--green);
  border-radius: 5px;
  
}

.contact-btn a {
  padding: 5px 10px;
  color: var(--green);
  font-size: larger;
}

.navList { 
  display: flex;
  padding: 0 20px;
}

.navList a { 
  padding: 10px 10px;
  color: var(--white);
  text-transform: capitalize; 
  font-size: large;
}

.hamburger {
  display: none;
  flex-direction: column;
}

.hamburger .bar {
  content: '';
  font-size: 0;
  min-width: 25px;
  height: 1px;
  border-bottom: 3px solid #fff;
  padding-bottom: 2px;
}

.active1 { opacity: 0; }

.active2 {
  transition: .5s;
  transform: translateY(3px) translateX(1px) rotate(45deg);
}

.active3 {
  transition: .5s;
  transform: translateY(-9px) translateX(-2px) rotate(-45deg);
}


/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

/* banner section style start */

.banner {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: -1;
}

.banner figure, .banner figure img {
  width: 100%;
  height: 100%;
}

.banner figure {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.banner figure img { 
  object-fit: cover; 
  filter: blur(3px); 
}

.banner h2 {
  width: 33%;
  position: absolute;
  top: 35%;
  left: 34%;
  color: var(--white);
  font-size: 75px;
  font-weight: bolder;
  text-align: center;
  text-transform: capitalize;
}

/* banner section style end */

/* home secton style start */

.home { 
  padding: 35px 0;
  background: var(--black); 
}

.counter { 
  width: 100%;
  display: flex;
 }

.counter li { 
  width: 23%;
  padding: 20px 0;
  display: flex;
  align-items: center;
  color: var(--white);
}

.counter li:not(:first-child) { margin-left: 20px; }

.members, 
.visitors, 
.program, 
.heart-beat { 
  font-size: 60px; 
  text-align: end;
}

.members-symbol,
.visitors-symbol,
.program-symbol, 
.heart-beat-symbol { font-size: 0; }

.members-symbol::before ,
 .visitors-symbol::before ,
  .program-symbol::before ,
   .heart-beat-symbol::before {
    color: var(--neon-green);
    font-family: "fontAwesome";
    font-size: 50px;
    transition: .2s;
}

.members-symbol::before { content: "\f44b"; }
.visitors-symbol::before { content: "\f206"; }
.program-symbol::before { content: "\f5d1"; }
.heart-beat-symbol::before { content: "\f21e"; }

.container-counter {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}

.container-counter span:last-child { 
  text-transform: capitalize;
  white-space: nowrap; 
} 

.step-up-your-fitness { 
  margin-top: 65px;
  display: flex; 
}

h3 {
padding-top: 30px;
color: var(--neon-green);
font-size: 50px;
font-weight: bolder;
text-transform: capitalize;
}

.step-up-your-fitness p {
  margin-top: var(--margin);
  color: var(--grey);
  line-height: 1.5;
}

aside { 
  width: 40%;
  min-height: 485px;
  margin-left: 15%;
  box-shadow: 10px 10px var(--green);
}

aside img {
  width: var(--width);
  height: var(--height);
}

.text-container { width: 44%; }

.get-in-touch-btn a {
  padding: 15px;
  border-radius: 4px;
  margin-top: var(--margin);
  text-transform: uppercase;
  background: #48D494;
  color: var(--black);
  font-size: small;
}

/* home section style end */

/* classes section style start */

.classes { 
  padding: 95px 0;
 background: var(--black);
}

.classes .wrapperr { width: 100%; }

.slider {
    width: var(--width);
    height: var(--height);
    display: flex;
    position: relative;
    overflow: hidden;
}

h4 {
  padding-top: 20px;
color: var(--neon-green);
font-size: 40px;
font-weight: bolder;
text-transform: capitalize;
}

.slider li {
  width: var(--width);
  height: var(--height);
}

.slider li img {
  min-width: 339px;
  min-height: 400px;
}

.slick-prev, .slick-next {
    position: absolute;
    top: 45%;
    border: 1px solid var(--green);
    border-radius: 20px;
    font-size: 0; 
    z-index: 1;
}

.slick-prev { left: 0; }
.slick-next { right: 0; }

.slick-prev::before, .slick-next::before {
  color: var(--green);
  font-family: "fontAwesome";
  font-size: 28px;
  font-weight: 600;
}

.slick-prev::before { content: "\f060"; }
.slick-next::before {  content: "\f061"; }

.slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slick-dots li { 
  width: 7px;
  padding: 10px;
  border-radius: 22px;
}

.slick-dots li button {
  padding: 5px;
  border: 0;
  border-radius: 22px;
  font-size: 0;
}

/* classes section style end */

/* schedule section style start */

.schedule { 
  padding: 10px 0;
  background: var(--black); 
}

.days { text-align: center; }

.day-common {
  padding: 10px;
  color: var(--green);
  text-transform: capitalize;
}

.active-day {
  border-radius: 3px;
  background: var(--green);
  color: var(--white);
}

.workout-program li, .time, .customers, .join { 
  display: flex;
  flex-direction: column;
  color: var(--white); 
}

.workout-program li, .time li, .customers li, .join li { 
  padding: 20px;
  border: 1px solid var(--white);
 }

.join li a { color: var(--green); }

.schedule-data {
  margin-top: 30px;
  display: flex;
}

.workout-program, .customers { width: 25%; }
.time { width: 32%; }

.join { 
  width: 18%;
  text-align: center;
}

/* schedule section style end */

/* services section style */

.services {
  padding: 60px 0;
  background: var(--black);
}

.services-slider {
  /* display: inline; */
  overflow: hidden;
}

.services-slider li {
  width: 19%;
  padding: 70px;
  background: var(--neon-green);
}

/* .services-slider li::nth-child(3n-1) {
  margin: 0 20px;
} */

h5 {
  padding: 20px 0;
  text-transform: capitalize;
  font-size: 20px;
  color: var(--white);
}

.services-slider li span {
  font-family: "fontAwesome";
  font-size: 0;
  color: var(--white);
}

.services-slider li { margin: 0 10px; }

.crossfit::before,
.aerobics::before,
.gym::before,
.power-lifter::before,
.strong-man::before,
.boxer::before { 
  font-family: "fontAwesome";
  font-size: 35px; 
}

.crossfit::before { content: "\f5d1"; }
.aerobics::before { content: "\f21e"; }
.gym::before { content: "\f496"; }
.power-lifter::before { content: "\f554"; }
.strong-man::before { content: "\f6de"; }
.boxer::before { content: "\f7b5"; }
.services-slider p { color: var(--white); }

.services-slider button.slick-prev { display: none; }

.services-slider .slick-dots li { 
  width: 10px;
  padding: 20px 0;
  background: transparent;
 }

/* services section style */

/* contact section start */

.contact { 
  padding: 40px 0; 
  background: var(--background-grey)
}

.name, .lastName,
 .workemail,
  .text-box { 
    padding: 10px;
    border: none; 
    border: 1px solid var(--white);
    outline: none; 
  }

.name, .lastName,
 .workemail,
  .text-box { 
    width: 95%;
    margin: 15px 0;
    background: transparent; 
    color: var(--white);
  }

.lastName, .name { min-width: 240px; }
.contact .wrapper { width: 45%; }

.contact p { 
  padding: 20px 0;
  line-height: 1.5;
  color: var(--grey); 
}

.text-box { resize: none; }

.full-name { 
  display: flex;
  justify-content: space-between;
    width: 97%;
 }

 .form-field {
  display: flex;
  flex-direction: column;
 }

 .submit-btn {
  padding: 10px 50px;
  margin-top: 20px;
  background: var(--neon-green);
  border: 2px solid #32A174;
  border-radius: 5px;
  transition: .3s;
 }

/* contact section end */

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 

footer { background: var(--black); }

h5 {
  font-weight: 600;
  color: var(--white);
  text-transform: uppercase;
}

.about p, .subscribe p { 
  padding-bottom: 30px;
  color: var(--grey);
 } 

.footer-links li a { 
  color: var(--neon-green); 
  text-transform: capitalize;
}

.footer-links li { padding: 8px 0; }
.footer-top, .footer-links li { display: flex; }
.about, .subscribe { width: 45%; }

.footer-top { padding: 90px 0; }

.links { 
  margin: 0 90px;
  width: 15%;
}

.subscribe-container { 
  width: 76%;
  display: flex;
  align-items: baseline;
}

.email {
  height: 21px;
  border: 2px solid var(--white);
  background: transparent;
  outline: none;
}

.subscribe-btn {
  padding: 6px;
  border: none;
  border-radius: 0;
  background: var(--neon-green);
}

/* bottom footer */

.bottom-footer p { 
  color: var(--white); 
  text-align: center;
}

.caps { text-transform: capitalize; }

.color { 
  color: var(--neon-green); 
  text-transform: capitalize;
}
 
.bottom-footer { padding-bottom: 90px; }

/* bottom footer */

 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/

@media only screen and (min-width: 995px) {
  
  /* common style */
  .slick-dots li button:hover,.slick-prev:hover, .slick-next:hover  {
    background: var(--neon-green);
    transition: .3s;
  }
  /* common style */

  /* header section */

  .navList li a:hover { 
    border-bottom: 1px solid var(--white);
    transition: .4s;
   }

   /* header section */

  /* contact section */

  .contact-btn a:hover {
    background: var(--green);
    color: var(--white);
    transition: .3s;
  }

  /* contact section */

  .submit-btn:hover { color: var(--white); }

  /* footer */
  .footer-links li a:hover { 
    color: var(--white); 
    transition: .3s;
  }
  /* footer */
}

/*media query for 995px starts here*/

@media only screen and (max-width: 995px) {

  .wrapper { width: 85%; }

/* header section */

  .navList, .contact-btn, header nav { display: none; }
  .header-content, .hamburger { display: flex; }
  .header-content { 
    width: 100%; 
    align-items: center;
    justify-content: space-between;
  }

/* header section */

.common { width: 60%; }

  /* banner section */

  .banner h2 { 
    width: 47%; 
    text-align: center;
  }

  /* banner section */

  /* home section */

  .counter li { width: 35%; }

  .counter {
    flex-direction: column;
    align-items: center;
  }

  .counter li:not(:first-child) { margin-left: 0; }

  /* home section */

  /* classes section */
   
  .classes { padding: 45px 0; }

  /* class section */

  /* service section */

  services { padding: 30px 0; }

  /* service section */

  /* contact section */

  .contact .wrapper { width: 65%; }
  .full-name { flex-direction: column; }

  /* contact section */

  /* footer section */
  
  .about, .subscribe {
    width: 60%;
    text-align: center;
  }

  h5 { text-align: center; }

  .links { margin: 1px 0 20px; }

  .footer-top {
    padding: 50px 0;
    flex-direction: column;
    align-items: center; 
  }
  
  .lastName, .name { min-width: 0; } 
  
  .subscribe-container {
    width: 100%;
    justify-content: center;
}

  .bottom-footer { padding-bottom: 60px; }

   /* footer section */
}  