@charset "utf-8";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%; 
  margin: 0 auto;
}

:root {
 --font-weight: bold;
 --white: #FFF;
 --neon-green: #48D494;
 --green: #32A174;
 --black: #000;
 --background-grey: #121212; 
 --grey: #5d5c5c;
 --width:100%;
 --height:100%;
 --margin:40px
}

/*=================================
  Header styling starts here
=================================*/

header {
  width: 100%;
  margin: 20px 0;
  position: absolute;
  top: 0;
  left: 0;
}

header .wrapper { 
  width: 90%; 
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 a{ 
  color: var(--white);
  text-transform: capitalize;
  font-weight: var(--font-weight); 
  font-size: xx-large;
}

.contact-btn { 
  border: 1px solid var(--green);
  border-radius: 5px;
  
}

.contact-btn a {
  padding: 5px 10px;
  color: var(--green);
  font-size: larger;
}

.contact-btn a:hover {
  background: var(--green);
  color: var(--white);
  transition: .3s;
}

.navList { 
  display: flex;
  padding: 0 20px;
}

.navList a { 
  padding: 10px 10px;
  color: var(--white);
  text-transform: capitalize; 
  font-size: large;
}

.navList li a:hover { 
  border-bottom: 1px solid var(--white);
  transition: .4s;
 }

.hamburger {
  display: none;
  flex-direction: column;
}

.hamburger .bar {
  content: '';
  font-size: 0;
  min-width: 25px;
  height: 1px;
  border-bottom: 3px solid #fff;
  padding-bottom: 2px;
}

.active1 { opacity: 0; }

.active2 {
  transition: .5s;
  transform: translateY(3px) translateX(1px) rotate(45deg);
}

.active3 {
  transition: .5s;
  transform: translateY(-9px) translateX(-2px) rotate(-45deg);
}


/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

/* banner section style start */

.banner {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: -1;
}

.banner figure, .banner figure img {
  width: 100%;
  height: 100%;
}

.banner figure {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.banner figure img { 
  object-fit: cover; 
  filter: blur(3px); 
}

.banner h2 {
  width: 33%;
  position: absolute;
  top: 35%;
  left: 34%;
  color: var(--white);
  font-size: 75px;
  font-weight: bolder;
  text-align: center;
  text-transform: capitalize;
}

/* banner section style end */

/* home secton style start */

.home { 
  padding: 60px 0;
  background: var(--black); 
}

.home .wrapper { width: 75%; }

.counter { 
  width: 100%;
  display: flex;
 }

.counter li { 
  width: 23%;
  padding: 20px 0;
  display: flex;
  align-items: center;
  color: var(--white);
}

.counter li:not(:first-child) { margin-left: 20px; }

.members, 
.visitors, 
.program, 
.heart-beat { 
  font-size: 60px; 
  text-align: end;
}

.members-symbol,
.visitors-symbol,
.program-symbol, 
.heart-beat-symbol { font-size: 0; }

.members-symbol::before ,
 .visitors-symbol::before ,
  .program-symbol::before ,
   .heart-beat-symbol::before {
    color: var(--neon-green);
    font-family: "fontAwesome";
    font-size: 50px;
    transition: .2s;
}

.members-symbol::before { content: "\f44b"; }
.visitors-symbol::before { content: "\f206"; }
.program-symbol::before { content: "\f5d1"; }
.heart-beat-symbol::before { content: "\f21e"; }

.container-counter {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}

.container-counter span:last-child { 
  text-transform: capitalize;
  white-space: nowrap; 
} 

.step-up-your-fitness { 
  margin-top: 100px;
  display: flex; 
}

h3 {
padding-top: 30px;
color: var(--neon-green);
font-size: 50px;
font-weight: bolder;
text-transform: capitalize;
}

.step-up-your-fitness p {
  margin-top: var(--margin);
  color: var(--grey);
  line-height: 1.5;
}

aside { 
  width: 40%;
  min-height: 485px;
  margin-left: 15%;
  box-shadow: 10px 10px var(--green);
}

aside img {
  width: var(--width);
  height: var(--height);
}

.text-container { width: 44%; }

.get-in-touch-btn a {
  padding: 15px;
  border-radius: 4px;
  margin-top: var(--margin);
  text-transform: uppercase;
  background: #48D494;
  color: var(--black);
  font-size: small;
}
/* home section style end */

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  